{block content}
<h1>Vozidla</h1>
<h2>Vlastní vozidla</h2>
<div class="row">
<a n:href="add"><button type="button" class="btn btn-md btn-default">Přidat vozidlo</button></a>
</div>
<br>
{foreach $vehicleslist as $v}
{first 4}<div class="row">{/first}
<div class="col-md-2">
	<a n:href="Vehicle:, id=>$v->id">
    	{if $v['profilpic'] != ""}
    		<img src="{$basePath}/data/profil2/{$v['profilpic']}" width="140" height="140">
    	{else}
    		<img data-src="{$basePath}/js/holder.js/140x140" width="140" height="140">
    	{/if}
      Název: {$v->name} </br>
      Typ: {$v->vehicle_make} {$v->vehicle_type}</br>
      SPZ: {$v->registration_number}</br>
      Najeto: {$v->mileage}
    </a>
</div>
{last 4}</div>{/last}
{/foreach}
{if $useslist->count() > 0}
<h2>Pravidelně používaná vozidla</h2>
{foreach $useslist as $v}
{first 4}<div class="row">{/first}
<div class="col-md-2">
	<a n:href="Vehicle:, id=>$v->id">
    	{if $v['profilpic'] != ""}
    		<img src="{$basePath}/data/profil2/{$v['profilpic']}" width="140" height="140">
    	{else}
    		<img data-src="{$basePath}/js/holder.js/140x140" width="140" height="140">
    	{/if}
      Název: {$v->name} </br>
      Typ: {$v->vehicle_make} {$v->vehicle_type}</br>
      SPZ: {$v->registration_number}</br>
      Najeto: {$v->mileage}
    </a>
</div>
{last 4}</div>{/last}
{/foreach}
{/if}

{if $rentedVehicles->count() > 0}
<h2>Aktuálně půjčená vozidla</h2>
{foreach $rentedVehicles as $v}
{first 4}<div class="row">{/first}
<div class="col-md-2">
	<a n:href="Vehicle:, id=>$v->id">
    	{if $v['profilpic'] != ""}
    		<img src="{$basePath}/data/profil2/{$v['profilpic']}" width="140" height="140">
    	{else}
    		<img data-src="{$basePath}/js/holder.js/140x140" width="140" height="140">
    	{/if}
      Název: {$v->name} </br>
      Typ: {$v->vehicle_make} {$v->vehicle_type}</br>
      SPZ: {$v->registration_number}</br>
      Najeto: {$v->mileage}
    </a>
</div>
{last 4}</div>{/last}
{/foreach}
{/if}


{if $oldRentedVehicles->count() > 0}
<h2>Někdy půjčená vozidla</h2>
{foreach $oldRentedVehicles as $v}
{first 4}<div class="row">{/first}
<div class="col-md-2">
	<a n:href="Vehicle:, id=>$v->id">
    	{if $v['profilpic'] != ""}
    		<img src="{$basePath}/data/profil2/{$v['profilpic']}" width="140" height="140">
    	{else}
    		<img data-src="{$basePath}/js/holder.js/140x140" width="140" height="140">
    	{/if}
      Název: {$v->name} </br>
      Typ: {$v->vehicle_make} {$v->vehicle_type}</br>
      SPZ: {$v->registration_number}</br>
      Najeto: {$v->mileage}
    </a>
</div>
{last 4}</div>{/last}
{/foreach}
{/if}

{if $inactiveVehicles->count() > 0}
<h2>Vozidla označená jako již nepoužívaná</h2>
{foreach $inactiveVehicles as $v}
{first 4}<div class="row">{/first}
<div class="col-md-2">
	<a n:href="Vehicle:, id=>$v->id">
    	{if $v['profilpic'] != ""}
    		<img src="{$basePath}/data/profil2/{$v['profilpic']}" width="140" height="140">
    	{else}
    		<img data-src="{$basePath}/js/holder.js/140x140" width="140" height="140">
    	{/if}
      Název: {$v->name} </br>
      Typ: {$v->vehicle_make} {$v->vehicle_type}</br>
      SPZ: {$v->registration_number}</br>
      Najeto: {$v->mileage}
    </a>
</div>
{last 4}</div>{/last}
{/foreach}
{/if}