{block content}
{foreach $wallposts as $post}
<div class="row">
    <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading"><a n:href="User: id=>$post->user->id">{$post->user->email}</a> - {$post->date|date:'d.m.Y H:i'}{if isset($post['group_id'])}<small> - ze skupiny <a n:href="group:show id=>$post->group->id">{$post->group->name}</a></small>{/if}</div>
	<div class="panel-body">
	  {!$post->content|escape|nl2br}
	    {if isset($post['routes_id']) && $post['routes_id'] != null}
		{control map-$post->routes_id}
	    {/if}
	</div>

	<!-- List group -->
	<ul class="list-group">
	    <li class="list-group-item">
		<ul class="list-group" n:if="!isset($post['group_id'])">
	    {foreach $post->related('comments')->order('date') as $comment}
		    <li class="list-group-item">
			<div class="comment"><strong><a n:href="User: id=>$comment->user->id">{$comment->user->email}</a></strong>: {$comment->content}</div>
			<div class="date" style="text-align: right; font-style: italic; font-size: 90%;">{$comment->date|date:'d.m.Y'}</div>
		    </li>
	    {/foreach}
		<li class="list-group-item">{control addCommentForm-$post->id}</li>
		</ul>
		<ul class="list-group" n:if="isset($post['group_id'])">
	    {foreach $post->related('groups_comments')->order('date') as $comment}
		    <li class="list-group-item">
			<div class="comment"><strong><a n:href="User: id=>$comment->user->id">{$comment->user->email}</a></strong>: {$comment->content}</div>
			<div class="date" style="text-align: right; font-style: italic; font-size: 90%;">{$comment->date|date:'d.m.Y'}</div>
		    </li>
	    {/foreach}
		<li class="list-group-item">{control addGroupCommentForm-$post->id}</li>
		</ul>
	    </li>
	</ul>

      </div>
    {*<div class="comments">
	
		<h5>{$comment->user->email} - {$comment->date|date:'d.m.Y'}</h5>
	{if $viewer != 0}
	
	{/if}*}
</div>
{/foreach}