{block cont}
{if $user->isLoggedIn() && $user->getId() == $userId}
{control addWallPost}
<script type="text/javascript">
	if($('#frm-addWallPost-privacy').value != 2) {
	    $('label[for=frm-addWallPost-circles]').hide();
	    $('#frm-addWallPost-circles').hide();
	}
	if($('#frm-addWallPost-circles option').length != 0) {
	    $('#frm-addWallPost-privacy').on('change', function() {
		if(this.value == 2) {
		    $('label[for=frm-addWallPost-circles]').show();
		    $('#frm-addWallPost-circles').show();
		}
	    });
	} else {
	    $('#frm-addWallPost-privacy option[value=2]').hide();
	}

</script>
{/if}
{foreach $wallposts as $post}
<div class="row">
    <div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">{$post->date|date:'d.m.Y'}
	{if $user->isLoggedIn() && $user->getId() == $userId}
	    <small> - Sdíleno
		{if $post->privacy == 0} se všemi
		{elseif $post->privacy == 1} s přáteli
		{elseif $post->privacy == 2} s kruhy
		    {foreach $post->related('wall_to_circles') as $circles}
			{$circles->friends_circle->name}{sep}, {/sep}
		    {/foreach}
		{/if}
	    </small>
	    
	{/if}
	</div>
	<div class="panel-body">
	  {!$post->content|escape|nl2br} 
	  {if $post->routes_id != null}
	    {control map-$post->routes_id}
	    {/if}
	</div>

	<!-- List group -->
	<ul class="list-group">
	    <li class="list-group-item">
		<ul class="list-group">
	    {foreach $post->related('comments')->order('date') as $comment}
		    <li class="list-group-item">
			<div class="comment"><strong><a n:href="User: id=>$comment->user->id">{$comment->user->email}</a></strong>: {$comment->content}</div>
			<div class="date" style="text-align: right; font-style: italic; font-size: 90%;">{$comment->date|date:'d.m.Y'}</div>
		    </li>
	    {/foreach}
		{if $viewer != 0 && $user->isLoggedIn()}
		<li class="list-group-item">{control addCommentForm-$post->id}</li>
		{/if}
		</ul>
	    </li>
	</ul>
      </div>
    {*<div class="comments">
	
		<h5>{$comment->user->email} - {$comment->date|date:'d.m.Y'}</h5>
	{if $viewer != 0}
	
	{/if}*}
</div>
{/foreach}