{block cont}
{foreach $vehicles as $v}
{first 4}<div class="row">{/first}
<div class="col-md-2">
    {if $v['profilpic'] != ""}
    	<img src="{$basePath}/data/profil2/{$v['profilpic']}" width="140" height="140">
    {else}
    	<img data-src="{$basePath}/js/holder.js/140x140" width="140" height="140">
    {/if}
    Název: {$v->name}</br>
    Typ: {$v->type}</br>
    Najeto: {$v->mileage}</br>
    Info: {$v->desc}
</div>
{last 4}</div>{/last}
{/foreach}