{layout '../@layout.latte'}
{block content}
<div class="row">
  <div class="col-md-3">
      <h2>Kruhy</h2>
      <ul class="nav nav-pills nav-stacked" >
	  <li {ifCurrent default}class="active"{/ifCurrent}><a n:href="default">Všichni přátelé</a></li>
	  <li {ifCurrent circle id=>$circle['id']}class="active"{/ifCurrent} n:foreach="$circles as $circle"><a n:href="circle id=>$circle['id']" class="left">{$circle['name']}</a></li>
      </ul>
      <a n:href="add"><button type="button" class="btn btn-md btn-default">Přidat kruh</button></a>
  </div>
  <div class="col-md-9">
      {block con}{/block}
  </div>
</div>