{layout "./@layout.latte"}
{block con}
<div class="navbar">
	<ul class="nav nav-tabs navbar-left">
	    <li><h2>Přátelé v kruhu {$curentCircle['name']}</h2></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	    {dump $circle}
	    <a n:href="edit id=>$curentCircle['id']"><button class="btn btn-lg btn-link" type="button">
		Upravit
	      </button></a>
	</ul>
    </div>

{foreach $friends as $friend}
{first 4}<div class="row">{/first}
<div class="col-md-2">
    <a n:href="User:, id=>$friend->id">
    {if $friend['profilpic'] != ""}
    <img src="{$basePath}/data/profil/{$friend['profilpic']}" alt="profil" width="140" height="140">
    {else}
    <img data-src="{$basePath}/js/holder.js/140x140" alt="profil" width="140" height="140">
    {/if}
    {$friend->email}
    </a>
</div>
{last 4}</div>{/last}
{/foreach}