{layout "./@layout.latte"}
{block con}
<h2>Editovat kruh</h2>
{form editForm}
<ul class=error n:if="$form->ownErrors">
	<li n:foreach="$form->ownErrors as $error">{$error}</li>
</ul>

<table>
<tr n:class="$form['name']->required ? required">
	<th>{label $form['name'] /}</th>
	<td>{input $form['name']} <span class=error n:ifcontent>{$form['name']->error}</span></td>
</tr>
<tr>
	<th>{label $form['friends'] /}</th>
	<td>
	    <table>
		{foreach $form['friends']->items as $key => $label}
		    {first 4}<tr>{/first}
		    <td style='padding: 5px;'>
			<table>
			    <tr>
				<td style='vertical-align: middle'>{input friends:$key}</td>
				<td>
				    {label friends:$key}
					{if $label['profilpic'] != ""}
					<img src="{$basePath}/data/profil/{$label['profilpic']}" alt="profil" width="140" height="140">
					{else}
					<img data-src="{$basePath}/js/holder.js/60x60" alt="profil" width="60" height="60">
					{/if}
					{$label->email}
				    {/label}
				</td>
			    </tr>
			</table>
		    </td>
		    {last 4}</tr>{/last}
		{/foreach}
	    </table>
	</td>
</tr>
<tr n:class="$form['submit']->required ? required">
	<th>{label $form['submit'] /}</th>
	<td>{input $form['submit']} <span class=error n:ifcontent>{$form['submit']->error}</span></td>
</tr>
</table>
{/form}