<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
function initialize(){ 
	    var mapOptions = {
		zoom: 13,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	    }

	var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	var road = new google.maps.KmlLayer( 
	    {$kml}, 
	    { preserveViewport:false } 
	); 
	road.setMap(map); 
	google.maps.event.addListenerOnce(road, "defaultviewport_changed", 
	    function() { 
		recenter = road.getDefaultViewport().getCenter() ; 
		map.panTo( recenter ) ; 
	      }); 
} 


google.maps.event.addDomListener(window, 'load', initialize);
$(document).ajaxStop(initialize);
</script>
<div id="map-canvas" style="width: {$width}px; height: {$height}px"></div>