{layout '../@layout.latte'}
{block content}
<div class="col-sm-3">
	<div class="panel panel-default">
    	<div class="panel-heading">
        	<h3 class="panel-title">{$routeinfo['name']}</h3>
        </div>
        <div class="panel-body">
			Čas: {$routeinfo['start_time']}<br>
			Vozidlo: <a n:href="Vehicle: id=>$routeinfo['vehicles_id']">{$vehiclename}</a><br>
			Nahrál: {$usermail}<br>
			Řidič: {$driver['email']}<br>
			{if $user->getId() == $routeinfo['users_id']}
			<a n:href="modifyRoute id=>$routeId"><button type="button" class="btn btn-md btn-default">Upravit trasu</button></a>
			{/if}
        </div>
    </div>
	<div class="panel panel-default">
    	<div class="panel-heading">
        	<h3 class="panel-title">Statistiky</h3>
        </div>
        <div class="panel-body">
			Trvání: {$routeinfo['duration']->format('%H:%I:%s')}<br>
			Délka: {$routeinfo['length']|number:1} km<br>
			Průměrná rychlost: {$routeStats['velocity']|number:1} km/h<br>
			Maximální rychlost: {$routeStats['max_velocity']|number:1} km/h<br>
			Průměrná spotřeba: {$routeStats['consumption']|number:1} l/100km<br>
			Nejvyšší spotřeba: {$routeStats['max_consumption']|number:1} l/100km<br>
			Průměrné otáčky: {$routeStats['engine_rpm']|number:1} rpm<br>
        </div>
    </div>
</div>
<div class="col-sm-9">
	<div class="navbar">
		<ul class="nav nav-tabs navbar-left">
	    	<li{ifCurrent Route:default} class="active"{/ifCurrent}><a n:href="default id=>$routeId">Mapa</a></li>
	    	<li{ifCurrent Route:sharers} class="active"{/ifCurrent}><a n:href="sharers id=>$routeId">Spolujezdci</a></li>
		</ul>
    </div>
    {block cont}{/block}
</div>
{/block}