{block cont}
{*<img src="{$path}"></img><br />*}
{snippet map}
{control map}
{/snippet}
<h2>Vaše podobné trasy</h2>
{snippet compare}
<table class="table table-striped">
    <tr>
	<th>&nbsp;</th>
	<th>ID</th>
	<th>Datum</th>
	<th>Délka</th>
	<th>Trvání</th>
	<th></th>
    </tr>
    <tr n:foreach="$similarRoutes as $simr">
	<td{if array_key_exists($simr->id, $compare)} style="background-color: {$compare[$simr->id]}"{/if}></td>
	<td><a n:href="default id=>$simr->id">{$simr->id}</a></td>
	<td>{$simr->start_time}</td>
	<td>{$simr->length|number:1} km</td>
	<td>{$simr->duration->format('%H:%I:%s')}</td>
	<td>{if array_key_exists($simr->id, $compare)}<a n:href="deleteRoute! current=>serialize($compare), delete=>$simr->id" class="ajax">Odebrat z mapy</a>{else}<a n:href="AddRoute! current=>serialize($compare), 'new'=>$simr->id" class="ajax">Přidat na mapu</a>{/if}</td>
    </tr>
</table>
<script>
$(function(){
    $("a.ajax").click(function (event) {
	event.preventDefault();
	$.get(this.href);
    });
});
</script>
{/snippet}