{block cont}
{foreach $sharers as $sharer}
{first 4}<div class="row">{/first}
<div class="col-md-2">
    <a n:href="User:, id=>$sharer->id">
    {if $sharer['profilpic'] != ""}
    	<img src="{$basePath}/data/profil/{$sharer['profilpic']}" alt="profil" width="140" height="140">
    {else}
    	<img data-src="{$basePath}/js/holder.js/140x140" alt="profil" width="140" height="140">
    {/if}
    {$sharer->email}
    </a>
</div>
{last 4}</div>{/last}
{/foreach}