{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="{$robots}" n:ifset="$robots">
    <title>{block title|striptags}SocioCars - Sociální síť pro řidiče{/block}</title>

    <!-- Bootstrap core CSS -->
    <link href="{$basePath}/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{$basePath}/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{$basePath}/css/theme.css" rel="stylesheet">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
    
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script>
/* Czech initialisation for the jQuery UI date picker plugin. */
/* Written by Tomas Muller (tomas@tomas-muller.net). */
jQuery(function($) {
    $.datepicker.regional['cs'] = {
        closeText: 'Zavřít',
        prevText: '&#x3c;Dříve',
        nextText: 'Později&#x3e;',
        currentText: 'Nyní',
        monthNames: ['leden', 'únor', 'březen', 'duben', 'květen', 'červen', 'červenec', 'srpen',
            'září', 'říjen', 'listopad', 'prosinec'],
        monthNamesShort: ['led', 'úno', 'bře', 'dub', 'kvě', 'čer', 'čvc', 'srp', 'zář', 'říj', 'lis', 'pro'],
        dayNames: ['neděle', 'pondělí', 'úterý', 'středa', 'čtvrtek', 'pátek', 'sobota'],
        dayNamesShort: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
        dayNamesMin: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
        weekHeader: 'Týd',
        dateFormat: 'dd. mm. yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['cs']);
});
</script>
<script>
$(document).ready(function () {
    $("input.date").each(function () { // input[type=date] does not work in IE
        var el = $(this);
        var value = el.val();
        var date = (value ? $.datepicker.parseDate($.datepicker.W3C, value) : null);

        var minDate = el.attr("min") || null;
        if (minDate) minDate = $.datepicker.parseDate($.datepicker.W3C, minDate);
        var maxDate = el.attr("max") || null;
        if (maxDate) maxDate = $.datepicker.parseDate($.datepicker.W3C, maxDate);

        // input.attr("type", "text") throws exception
        if (el.attr("type") == "date") {
            var tmp = $("<input/>");
            $.each("class,disabled,id,maxlength,name,readonly,required,size,style,tabindex,title,value".split(","), function(i, attr)  {
                tmp.attr(attr, el.attr(attr));
            });
            tmp.data(el.data());
            el.replaceWith(tmp);
            el = tmp;
        }
        el.datepicker({
            minDate: minDate,
            maxDate: maxDate
        });
        el.val($.datepicker.formatDate(el.datepicker("option", "dateFormat"), date));
    });
});
</script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li {ifCurrent Homepage:}class="active"{/ifCurrent}><a n:href="Homepage:">Domů</a></li>
	    {if $user->isLoggedIn()}
            <li {ifCurrent User:*, id=>$user->getId()}class="active"{/ifCurrent}><a n:href="User:, id=>$user->getId()">Zeď</a></li>
	    <li {ifCurrent Feed:}class="active"{/ifCurrent}><a n:href="Feed:">Feed</a></li>
            <li {ifCurrent Routes:}class="active"{/ifCurrent}><a n:href="Routes:">Trasy</a></li>
            <li {ifCurrent Group:*}class="active"{/ifCurrent}><a n:href="Group:">Skupiny</a></li>
	    {/if}
            <!--<li {ifCurrent Vehicles:}class="active"{/ifCurrent}><a n:href="Vehicles:">Vehicles</a></li>
            <li {ifCurrent Notifications:add}class="active"{/ifCurrent}><a n:href="Notifications:add">Notifications creater</a></li>
            <li {ifCurrent Homepage:bootstrap}class="active"{/ifCurrent}><a n:href="Homepage:bootstrap">Bootstrap helper</a></li>-->
	  </ul>
	    {form searchForm class => 'navbar-form navbar-left'}
	    <div class="form-group">
		{input search class=>'form-control',  placeholder=>'Hledaný výraz'}
	    </div>
	    {input send class=>'btn btn-default'}
	    {/form}
	  <ul class="nav navbar-nav navbar-right">
	    {if !$user->isLoggedIn()}
	    <li {ifCurrent Sign:in}class="active"{/ifCurrent}><a n:href="Sign:in">Přihlášení</a></li>
            <li {ifCurrent Sign:up}class="active"{/ifCurrent}><a n:href="Sign:up">Registrace</a></li>
	    {else}
	    <li {ifCurrent Notifications:}class="active"{/ifCurrent}><a n:href="Notifications:">Notifikace <span class="badge">{$numNotif}</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Přihlášen: {$user->getIdentity()->email} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a n:href="Friends:">Přátelé a kruhy</a></li>
                <li><a n:href="Settings:">Nastavení</a></li>
                <li><a n:href="Vehicles:">Vozidla</a></li>
                <li><a n:href="Sign:out">Odhlásit</a></li>
              </ul>
            </li>
	    {/if}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
	    {$flash->message}
	  </div>
      

      {include #content}

    </div> <!-- /container -->
    {block scripts}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/holder.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/main.js"></script>
    {/block}

    
  </body>
</html>
