{layout '../@layout.latte'}
{block content}
<div class="row">
  <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
	     <li><a n:href="Vehicles:">Seznam mých vozidel</a></li>
	     <li {ifCurrent default}class="active"{/ifCurrent}><a n:href="default, id=>$vehicle->id">Info o vozidle</a></li>
	     {if $vehicle->active == 1}
		<li n:if="$vehicle->users_id == $user->getId()" {ifCurrent editVehicle}class="active"{/ifCurrent}><a n:href="editVehicle, id=>$vehicle->id">Úprava vozidla</a></li>
		<li n:if="$vehicle->users_id == $user->getId()" {ifCurrent vehiclePic}class="active"{/ifCurrent}><a n:href="vehiclePic, id=>$vehicle->id">Změna fotky</a></li>
	       <li n:if="$vehicle->users_id == $user->getId()" {ifCurrent ownerChange}class="active"{/ifCurrent}><a n:href="ownerChange, id=>$vehicle->id">Změna majitele</a></li>
	       <li n:if="$vehicle->users_id == $user->getId()" {ifCurrent drivers}class="active"{/ifCurrent}><a n:href="drivers, id=>$vehicle->id">Pravidelní řidiči</a></li>
	       <li n:if="$vehicle->users_id == $user->getId()" {ifCurrent rent}class="active"{/ifCurrent}><a n:href="rent, id=>$vehicle->id">Půjčování vozidla</a></li>
	    {/if}
	    <li>----</li>
	    <li n:if="$vehicle->users_id == $user->getId()" {ifCurrent state}class="active"{/ifCurrent}><a n:href="state, id=>$vehicle->id">Změnit stav vozidla</a></li>
      </ul>
  </div>
  <div class="col-md-9">
      {block con}{/block}
  </div>
</div>