{layout "./@layout.latte"}
{block con}
<table class="table table-striped">
    <tr>
	<th>Název</th><td>{$vehicle->name}</td>
    </tr>
    {*<tr>
	<th>ID palubní jednotky</th><td>{$vehicle->unit_id}</td>
    </tr>*}
    <tr>
	<th>Aktivita</th><td>{if $vehicle->active == 0}NEPOUŽÍVANÉ{else}POUŽÍVANÉ{/if}</td>
    </tr>
    <tr>
	<th>Popis</th><td>{$vehicle->desc}</td>
    </tr>
    <tr>
	<th>Registrační značka vozidla</th><td>{$vehicle->registration_number}</td>
    </tr>
    <tr>
	<th>Typ</th><td>{$vehicle->ref('type')->name}</td>
    </tr>
    <tr>
	<th>Značka</th><td>{$vehicle->ref('vehicle_make')->name}</td>
    </tr>
    <tr>
	<th>Typ vozidla</th><td>{$vehicle->vehicle_type}</td>
    </tr>
    <tr>
	<th>Model</th><td>{$vehicle->commercial_description}</td>
    </tr>
    <tr>
	<th>Identifikační číslo vozidla</th><td>{$vehicle->vin}</td>
    </tr>
    <tr>
	<th>Nejvyšší technicky přípustná hmotnost</th><td>{$vehicle->mass_permissible}</td>
    </tr>
    <tr>
	<th>Provozní hmotnost</th><td>{$vehicle->mass_operating}</td>
    </tr>
    <tr>
	<th>Zdvihový objem</th><td>{$vehicle->engine_capacity}</td>
    </tr>
    <tr>
	<th>Maximální výkon</th><td>{$vehicle->engine_max_net_power}</td>
    </tr>
    <tr>
	<th>Palivo</th><td>{$vehicle->engine_fuel}</td>
    </tr>
    <tr>
	<th>Počet míst k sezení</th><td>{$vehicle->seating}</td>
    </tr>
    <tr>
	<th>Počet míst k stání</th><td>{$vehicle->stands}</td>
    </tr>
    <tr>
	<th>Barva</th><td>{$vehicle->color}</td>
    </tr>
    <tr>
	<th>Poměr výkon/hmotnost</th><td>{$vehicle->power_weigth}</td>
    </tr>
    <tr>
	<th>Nejvyšší rychlost</th><td>{$vehicle->maximum_speed}</td>
    </tr>
</table>