{layout "./@layout.latte"}
{block con}
<h1>Pravidelní řidiči</h1>
<div class="row">
<a n:href="addDriver id=>$vehicle->id"><button type="button" class="btn btn-md btn-default">Přidat řidiče</button></a>
</div>
<table class="table table-striped">
    <tr>
	<th>Uživatel</th>
	<th></th>
    </tr>
    <tr n:foreach="$drivers as $driver">
	<td><a n:href="User: id=>$driver->user->id">{$driver->user->email}</a></td>
	<td><a n:href="removeDriver! id=>$vehicle->id, driver_id=>$driver->id">Smazat</a></td>
    </tr>
</table>