{layout "./@layout.latte"}
{block con}
<h1>Půjčení vozidla</h1>
<div class="row">
<a n:href="addRent id=>$vehicle->id"><button type="button" class="btn btn-md btn-default">Půjčit vozidlo</button></a>
</div>
<table class="table table-striped">
    <tr>
	<th>Uživatel</th><th>Od</th><th>Do</th>
    </tr>
    <tr n:foreach="$rents->order('from DESC') as $rent">
	<td><a n:href="User: id=>$rent->user->id">{$rent->user->email}</a></td>
	<td>{$rent->from|date:'d.m.Y'}</td>
	<td>{$rent->to|date:'d.m.Y'}</td>
    </tr>
</table>