{layout "./@layout.latte"}
{block con}
<h1>Stav vozidla</h1>
<h3>Vozidlo je označeno jako {if $vehiclestate == 0}<span style="color:red">NEPOUŽÍVANÉ</span>{else}<span style="color:green">POUŽÍVANÉ</span>{/if}</h3>
{if $vehiclestate == 0}
<a n:href="activate! id=>$vehicle->id">Označit jako používané</a>
{else}
<a n:href="deactivate! id=>$vehicle->id">Označit jako nepoužívané</a>
{/if}