{layout "./@layout.latte"}
{block con}
<h1>Změna fotky</h1>
Aktuální fotka: 
{if $profilPic != ""}
	<img src="{$basePath}/data/profil2/{$profilPic}" width="150" height="150">
{else}
	<img data-src="{$basePath}/js/holder.js/150x150" width="150" height="150">
{/if}

{control imageUploadForm}